.header {
  width: 100%;
  font-size: 48px;
  text-align: center;
  color: #0BBBD3;
  margin-top: 18px;
  margin-bottom: 18px;
}

.header__span {
  color: #000;
}

.main {
  max-width: 1440px;
  height: 852px;
  background-image: url("../img/01.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main .main__content {
  background-image: url("../img/flag.png");
  background-repeat: no-repeat;
  background-position: left 5% top 50%;
}

.main .main__content .main__text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  padding: 17% 10%;
}

.places {
  padding: 40px;
  overflow: auto;
  max-width: 1440px;
}

.places .places__title {
  width: 26%; 
  margin-bottom: 100px;
  border-bottom: 5px solid #33B8F1;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.places .places__card {
  width: 30%;
  height: 480px;
  display: inline-block;
  background: #FFFEFE;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid rgb(0, 255, 255);
  float: left;
  margin-right: 30px;
}

.places .places__card img {
  width: 100%;
}

.places .places__card a {
  text-decoration: none;
}

.places .places__card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin: 0 auto;
  color: #000;
}

.places .places__card h2:hover {
  color: #33B8F1;
}

.places .places__card p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.ukraine {
  max-width: 1440px;
  height: 890px;
  padding-top: 60px;
}

.ukraine .ukraine__title {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.ukraine .ukraine__title::after {
  content: "";
  width: 25%;
  text-align: center;
  display: block;
  height: 5px;
  background-color:#33B8F1;
  margin-left: 38%;
}

.ukraine img {
  display: block;
  margin: 0 auto;
}

.ukraine .ukraine__btn {
  height: 80px;
  background-color: #33ADF1;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  border: 0;
  cursor: pointer;
  position: relative;
  left: 40%;
}

.footer {
  width: 100%;
  max-width: 1440px;
  height: 405px;
  background-color: #0A2DA9;
  margin-top: 270px;
}

.footer .footer__text {
  width: 100%;
  font-size: 64px;
  text-align: center;
  color: #33B8F1;
  margin-top: 18px;
  margin-bottom: 18px;
  display: inline-block;
  background-color: #0A2DA9;
  padding-top: 50px;
}

.footer .footer__text .footer__span {
  color: #fff;
}

.footer p {
  text-align: center;
  padding-bottom: 30px;
}

.footer p a {
  color: #353949;
  text-decoration: none;
  font-size: 30px;
}

.footer .icons {
  display: inline-block;
  text-align: center;
  width: 45%;
  height: 64px;
  margin-left: 30%;
}

.footer .icons .icon {
  display: inline-block;
  width: 68px;
  height: 64px;
  border: 1px solid #0931BF;
  margin-right: 40px;
  background-color: #0931BF;
  border-radius: 30px;
}

.footer .icons .icon:last-child {
  background-image: url(/img/facebook.png);
  background-repeat: no-repeat;
  background-position: left 50% top 50%;
}

.footer .icons .icon:nth-child(3) {
  background-image: url(/img/instagram.png);
  background-repeat: no-repeat;
  background-position: left 50% top 50%;
}

.footer .icons .icon:nth-child(2) {
  background-image: url(/img/telegram.png);
  background-repeat: no-repeat;
  background-position: left 50% top 50%;
}

.footer .icons .icon:first-child {
  background-image: url(/img/twiter.png);
  background-repeat: no-repeat;
  background-position: left 50% top 50%;
}